html,body {
    margin:0;
    padding: 0;
}

#global {
    width :100% ;
    margin :auto ;
    background :#ffffff;
}

.site-header {
    width: 100%;
    background-color: #171b1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image1 {
    width: 13%;
    height: 75%;
}

.menu {
    display:flex;
    list-style: none;
}

.menu__link {
    color:white;
    padding:1em;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: medium;
}

h1 {
    color:#efbb20;
    text-align: left;
    font-family: 'Montserrat';
    font-size: x-large;
}

h2 {
    color:#efbb20;
    text-align: left;
    font-family: 'Montserrat';
    font-size: x-large;
}

.image2 {
    width: 15%;
    height: 15%;
    padding-left: 15%;
    padding-top: 2%;
}

.image3 {
    width: 5%;
    height: 5%;
}

main {
    color:black;
    font-family: 'Montserrat';
    font-size: medium;  
    text-align: justify;
    max-width: 1310px;
    margin: auto;
}

.page-heading {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.page-heading__content {
    align-self: center;
}

.ligne_verticale
{
    width:80px;
    border-left:1000px #171b1f;
    height:70px;
}


img{
    max-width: 100%;
}

.image4 {
    width: 30px;
    height: 30px;
}
