html,body {
    margin:0;
    padding: 0;
}

#global {
    width :100% ;
    margin :auto ;
    background :#ffffff;
}

header {
    width: 100%;
    background-color: #171b1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image1 {
    width: 13%;
    height: 75%;
}

.menu {
    display:flex;
    list-style: none;
}

.menu__link {
    color:white;
    padding:1em;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: medium;
}

h1 {
    color:#efbb20;
    text-align: left;
    font-family: 'Montserrat';
    font-size: x-large;
}

h2 {
    color:#efbb20;
    text-align: left;
    font-family: 'Montserrat';
    font-size: x-large;
    padding-left: 10%;
}

h3{
    color:#efbb20;
    text-align: left;
    font-family: 'montserrat';
    font-size: x-large;
}

.image2 {
    width: 15%;
    height: 15%;
    padding-left: 15%;
    padding-top: 2%;
}

.image3 {
    width: 5%;
    height: 5%;
}

.texte {
    color:black;
    font-family: 'Montserrat';
    font-size: medium;  
    text-align: justify;
}

.texte1 {
    color:black;
    font-family: 'Montserrat';
    font-size: large;  
    text-align: justify;
}

.ligne_verticale
{
    width:80px;
    border-left:1000px #171b1f;
    height:70px;
}

p{
    padding-left: 10%;
}

.img{
    padding-left: 10%;
}